<footer>
<div class="f-info">
    <div class="f-info-socials">
        <a href="https://www.facebook.com/share/1AEdKksGAt/"><i class="fa-brands fa-facebook"></i></a>
       <a href="https://www.instagram.com/smbhv_._?igsh=NHF3ZDFyYnpwYWti">
        <i class="fa-brands fa-instagram"></i>
       </a> 
       <a href="https://www.linkedin.com/in/sambhavmishra1/">
        <i class="fa-brands fa-linkedin"></i>
       </a> 
    </div>
    <div class="f-info-brand">&copy; WanderInn Pvt Ltd. &hearts;</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/terms">Terms And Conditions</a>
    </div>
</div>
</footer>